
.sideBar{
    height: 100vh;
    width: 40px;
    overflow: hidden;
    position: fixed;
}

.navBar{
    background-color: #515EA6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#menu{
    font-size: 30px;
    color: white;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 284px;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 0px;
    list-style-type: none;
}

#image{
    font-size: 15px;
    color: white;
}

.list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.list_item:hover{
    background-color: #474c8d;
}

.footerSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#perfil{
    color: white;
    font-size: 35px;
}

#exit{
    color: white;
    font-size: 20px;
    cursor: pointer;
}


