*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: #F3F6FD;
}

div.background {
    display: flex;
    flex-direction: row;
    gap: 10px;
}






