*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: #F3F6FD;
}

div.background {
    display: flex;
    flex-direction: row;
}

div.background > section > div.header-dashboard{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 70px  20px 10px;
}

div.background > section > div.header-dashboard > span{
    background-color: #515EA6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    height: auto;
    border-radius: 3px;
    cursor: pointer;
}

div.background > section > table.tabela {
    background-color: white;
    margin: 20px 30px;
    border-radius: 5px;
    width: 1230px;
    height: auto;
    padding: 5px 10px;
    list-style-type: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Impede a quebra de linha! */
}

